<!DOCTYPE html>
<html>
  <head>
    <title>Youcast</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('fav.png') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script>
      window.youcastLogo = "<%= image_url('youcast-logo.png')%>"
      window.noResult = "<%= image_url('no_result.png')%>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
